

<div class="menu-container">


<div class="container">
   <div class="card-columns">

{{#each posts as |post|}}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top smaller-img" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.post_title}}</h5>
    <p class="card-text">
Author: {{ post.user.username}} Date: {{format_date post.createdAt}}<br>
    {{post.post_content}}

    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Overall Score: </li>
    <li class="list-group-item">Rating: </li>
    <li class="list-group-item">Location: </li>
  </ul>
  <div class="card-body">

    <a href="/{{id}}" class="button-1 btn-link" role="button">View Discussion</a>
  </div>
</div>

{{/each}}

</div>
</div>

<footer>

let the user add a post -- this could be a cool footer that stays on page no matter the amount of posts<br>
Another option is that this could be a modal instead of it's own route (slightly more complicated)<br>

    <a href="/newPost" class="btn btn-light">Add Post</a>
</footer>