

<div class="menu-container">

let the user add a post -- this could be a cool footer that stays on page no matter the amount of posts<br>
Another option is that this could be a modal instead of it's own route (slightly more complicated)<br>

    <a href="/newPost" class="btn btn-light">Add Post</a>



<div class="container">
   <div class="card-columns d-flex justify-content-center">

{{#each posts as |post|}}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{post.post_title}}</h5>
    <p> FUTURE IMAGE DISPLAYED HERE</p>
    <p>Author: {{ post.user.username}} Date: {{format_date post.createdAt}}</p>
    <p class="card-text">{{post.post_content}}</p>
    <a href="/{{id}}" class="btn btn-light">View Discussion</a>
  </div>
</div>
{{/each}}

</div>
</div>

