
<h1>Yay the user is now logged in :)</h1>
<p>this page will display all the current posts, can we get them to show in most recent?</p>

<div class="menu-container">


{{#each posts as |post|}}

<div class="card text-white bg-info w-50 mx-auto border-secondary m-3 ">
  <div class="card-body">
    <h5 class="card-title">{{post.post_title}}</h5>
    <p>Author: {{ post.user.username}} Date: {{format_date post.createdAt}}</p>
    <p class="card-text">{{post.post_content}}</p>
    <a href="/{{id}}" class="btn btn-light">Read More...</a>
  </div>
</div>

{{/each}}
