<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->

<div class="menu-container">

<div class="container">
   <div class="card-columns d-flex justify-content-center">


<div class="card straight-corner m-2 p-2 border-secondary" style="width: 50rem;">
  <div class="card-body">
    <center><img src="{{post.post_img}}" alt="{{post.post_title}}" class="post-img"></img></center>
    <hr>
    <h5 class="card-title title-font">{{post.post_title}}</h5>
        <p class="post-main-font">Author: {{loud post.user.username}} Date: {{format_date post.createdAt}} || Rating: {{post.post_rating}}/5</p> 
        <hr>
    <p class="card-text post-main-font">{{post.post_content}}</p>
  </div>
</div>
</div>

   <div class="card-columns d-flex justify-content-center">

<div class="card straight-corner m-2 p-2 border-secondary" style="width: 50rem;">
    <h3>Add a New Comment:</h3>

    <form class="form new-comment-form">


      <div class="form-group shadow-textarea">
        <label for="comment-content"></label><br>
        <textarea class="form-input form-control z-depth-1" id="comment-content" name="comment-content" placeholder="Be nice..."></textarea>
      </div>

      <div class="form-group mx-auto">
        <button type="submit" class="btn btn-secondary">Add Comment</button>
      </div>


    </form>
  </div>
</div>

{{#each post.comments as |post|}}
{{debug post}}
   <div class="card-columns d-flex justify-content-center">

<div class="card straight-corner m-2 p-2 border-secondary" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">{{loud user.username}} on {{format_date createdAt}}</h5>
    <p class="card-text">{{comment_content}}</p>
  </div>
</div>
</div>
{{/each}}

<script src="/js/comment.js"></script>